body {
    background: rgb(185, 253, 206);
    font: 15px normal Arial;
}

header {
    text-align: center;
}

section {
    background: white;
    border-radius: 15px;
    width: 500px;
    height: 200px;
    margin: auto;
    padding: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
    text-align: center;
    padding-bottom: 10px;
}

div#itxt {
    height: 35px;
}

input#inptxt{
    text-align: left;
    color: rgba(0, 0, 0, .5);
}

p#txt {
    text-align: justify;
    padding-bottom: 2px;
}

input#inptxt {
    padding: 2px;
}

div#button {
    padding-top: 15px;
}

input#butao{
    width: 150px;
    padding: 5px;
}

footer{
    padding-top: 20px;
    text-align: center;
}