body {
    background: rgb(185, 253, 206);
    font: 15px normal Arial;
}

header {
    text-align: center;
}

section {
    background: white;
    border-radius: 15px;
    width: 500px;
    height: 200px;
    margin: auto;
    padding: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
}

input#butao {
    width: 100px;
    margin-top: 10px;
    padding: 5px;
}

footer{
    padding-top: 20px;
    text-align: center;
}