body {
    background: rgb(110, 255, 156);
    font: 15px normal Arial;
}

menu {
    text-shadow: 1pt 1pt green;
}

div {
    background: white;
    padding: 10px;
    margin: 10px 200px 10px 200px;
}
div#title {
    display:inline;
    margin-bottom: 0px;
    padding: 0px;
}
h2#credits {
    display: inline;
    padding-top: 0px;
    margin-top: 0px;
    color: black;
    font: 12px normal Arial;
}