body {
    background: rgb(110, 255, 156);
    font: 15px normal Arial;
}
div {
    background: white;
    border-radius: 15px;
    width: 500px;
    height: 200px;
    margin: auto;
    padding: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
}

input#butao {
    width: 100px;
    margin-top: 10px;
    padding: 5px;
}
h2#credits {
    display: inline;
    padding-top: 0px;
    margin-top: 0px;
    color: black;
    font: 10px normal Arial;
}